출처 : https://www.data.go.kr/data/15070318/fileData.do

# 1 절대경로
* 절대경로는 최상위 디렉토리가 포함된 경로

# 2 상대경로
* 상대경로는 현재 위치한 곳을 기준으로 하는 경로

In [4]:
# 현재 실습 경로
%pwd

'C:\\Users\\do543\\coaching_study\\coaching_study\\Week_1'

In [5]:
import os
os.getcwd()

'C:\\Users\\do543\\coaching_study\\coaching_study\\Week_1'

In [21]:
from glob import glob

file_name = glob("../data/*")[0]
file_name

'../data\\도로교통공단_월별 주야별 교통사고 통계_20231231.csv'

In [6]:
import pandas as pd

In [22]:
pd.read_csv(file_name, encoding="cp949")

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8682    98  2209   9440     759
1     1  야   5798    92  1539   6349     530
2     2  주   8056    95  2149   8710     710
3     2  야   5228    86  1419   5553     500
4     3  주  10393   109  2600  11132     880
5     3  야   5607    78  1449   5930     467
6     4  주  10460    93  2797  11356    1055
7     4  야   5876    89  1609   6181     551
8     5  주  11668   135  3132  12618    1178
9     5  야   5884    68  1576   6233     603
10    6  주  10962   114  2881  11797    1092
11    6  야   5754    88  1601   5893     613
12    7  주  10647   105  2755  11552    1138
13    7  야   5931   100  1554   6165     549
14    8  주  11185   136  2990  12252    1111
15    8  야   6027   110  1632   6287     641
16    9  주  11458   130  3063  12396    1119
17    9  야   6402   109  1777   6559     737
18   10  주  11039   141  3186  11609    1102
19   10  야   6294   124  1814   6383     559
20   11  주  11397   139  3143  12183    1081
21   11  야   6351   118  1706   6565     620
22   12  주  10540   107  2691  11407    1003
23   12  야   6657    87  1717   7019     643

# 3 여러 파일을 한번에 로드하는방법

In [27]:
file_csv = glob("../data/store/*_*_*_*.csv")
file_csv

['../data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202406.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202406.csv']

In [29]:
file_list = []
for file_csv_name in file_csv:
    temp = pd.read_csv(file_csv_name)
    file_list.append(temp)

C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
C:\Users\do543\AppData\Local\Temp\ipykernel_19664\2145576874.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

In [31]:
df = pd.concat(file_list)
df.shape

(2338043, 39)

In [32]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
2,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
3,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189
4,MA010120220805431369,행운쉼터,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4281032022008200005013654,NaN,강원특별자치도 인제군 북면 금강로 751,252826,24609,NaN,NaN,NaN,128.207086,38.171871

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2338043 entries, 0 to 78830
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(9), int64(8), object(22)
memory usage: 713.5+ MB